<!-- The Shopping Cart Modal -->
<div id="myCart" class="modal">

    <!-- Shopping Cart content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        <div class="table-responsive" id="cartList">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="border-0 bg-light">
                            <div class="p-2 px-3 text-uppercase">Product</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase">Description</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase">Quantity</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase">Price</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                            <div class="py-2 text-uppercase">Remove</div>
                        </th>
                    </tr>
                </thead>
                <tbody >
                </tbody>
            </table>
        </div>
        <div>
            <button class="btn btn-success btnCheckOut" onclick="checkOutCart()">Check out</button>
        </div>
    </div>
</div><!-- End Shopping Cart Modal Div -->