<h1>Add a new gun</h1>
<!-- <form id="formAddGun" name="addgun" method="post" action="/addgun"> -->
    <fieldset>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName" name="inputName" aria-describedby="nameHelp">
            <div id="nameHelp" class="form-text">The name of the gun for sale.</div>
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">Number</label>
            <input type="number" class="form-control" id="inputNumber" name="inputNumber">
        </div>
        <div class="mb-3">
            <select class="form-select" id="inputType" name="inputType" aria-label="Default select example">
                <option selected value="auto">Auto</option>
                <option value="semi">Semi</option>
                <option value="manual">Manual</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="number" id="inputPrice" name="inputPrice" class="form-control"
                aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">.00</span>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="inputDescription" name="inputDescription">
        </div>
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        <button class="btn btn-primary" id="btnAddGun">Submit</button>
    </fieldset>
<!-- </form> -->