<!DOCTYPE html>
<html>

<head>
    <title>Add gun</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Add a new gun
    </h1>
    <form id="formAddGun" name="addgun" method="post" action="/addgun">
        <input id="inputGunName" type="text" placeholder="name" name="name" />
        <button id="btnSubmit" type="submit">Submit</button>
    </form>
</body>

</html>